body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
  color: #333;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 250px; /* שינוי המרווח בין הכרטיסיות */
  padding: 20px;
}

.game-card {
  width: 500px; /* הגדלת רוחב הכרטיסיות */
}
mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #dceef2; /* שינוי צבע הכרטיס */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 500px; /* הגדלת גובה הכרטיסיות */
  box-sizing: border-box;
}

mat-card-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

mat-card-title {
  font-size: 2em; /* הגדלת הכותרת */
  color: #6d6875; /* שינוי צבע הכותרת */
  margin: 0;
}

mat-card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

mat-card-content p {
  font-size: 1.2em; /* הגדלת גודל הטקסט */
  margin: 0;
  padding: 0 10px;
  color: #000; /* שינוי צבע המלל לשחור */
  font-weight: bold; /* המלל יותר בולט */
}

mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

button[mat-button] {
  background-color: #e76f51; /* שינוי צבע הכפתורים */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[mat-button]:hover {
  background-color: #dd350b; /* שינוי צבע הכפתור בעת ריחוף */
}
