
.dialog-container {
    width: 500px;
    height: 500px;
    text-align: center;
    color: red;
  }
  
  .failure-icon {
    font-size: 2em;
    color: red;
  }
  
  h1 {
    font-size: 2em;
    margin-top: 10px;
  }
  
  p {
    font-size: 1.2em;
  }