mat-toolbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

button[mat-icon-button] {
  margin-right: 8px; 
}

.example-spacer {
  flex: 1; 
}

mat-icon {
  cursor: pointer; /
}

.LittleLinguist {
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer; 
}
