.footer-container {
  display: flex;
  justify-content: right;
  position:fixed;
  bottom: 0;
  width: 100%;
}
.example-spacer {
  flex: 1 1 auto;
}

mat-icon {
  cursor: pointer; /* מציין שניתן ללחוץ על האייקונים */
}