.dialog-container {
  text-align: center;
  padding: 40px;
  max-width: 500px;
  margin: 0 auto;
}

.mat-icon {
  font-size: 20px;
  margin-bottom: 20px;
}

button {
  margin-top: 30px;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  width: 100px;
  cursor: pointer;
}

.success-dialog .success-icon {
  color: #4caf50;
}

.success-dialog .success-title {
  color: #4caf50;
  font-size: 28px;
  font-weight: bold;
}

.success-dialog .success-message {
  color: #388e3c;
  font-size: 20px;
}

.success-button {
  background-color: #4caf50;
  color: #fff;
}

.success-button:hover {
  background-color: #388e3c;
}
