<div class="header-container">
  <div class="title-container">
    <div class="title">Mixed Letters</div>
    <div class="category-name">Category name {{ currentCategory?.name }}</div>
  </div>

  <button mat-icon-button class="exit-button" (click)="exit()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</div>

<div class="points-container">
  <app-view-points [points]="points"></app-view-points>
</div>

<div *ngIf="!gameEnded; else summaryTemplate" class="game-content">
  <div class="word-container">
    <div class="hebrew-word-container">
      <p class="label">Meaning in Hebrew:</p>
      <span class="hebrew-word">{{ words?.[currentWordIndex]?.target }}</span>
    </div>
    <div class="english-word-container">
      <p class="label">Mixed English Letters:</p>
      <span class="english-word">{{ shuffledWord }}</span>
    </div>
  </div>

  <div class="input-container">
    <mat-form-field appearance="outline" class="guess-field">
      <mat-label>Your answer:</mat-label>
      <input
        matInput
        [(ngModel)]="userInput"
        placeholder="Enter correct English word"
        name="origin-{{ currentWordIndex }}"
        pattern="^[a-zA-Z]+$"
        #originField="ngModel"
      />
      <mat-error *ngIf="originField.invalid && userInput.trim()">
        English letters only
      </mat-error>
    </mat-form-field>
  </div>

  <div class="button-container">
    <button
      mat-raised-button
      class="submit-button"
      (click)="submit(userInput)"
      [disabled]="originField.invalid || !userInput.trim()"
    >
      Submit
    </button>

    <button mat-raised-button class="reset-button" (click)="reset()">
      Reset
    </button>
  </div>

  <div class="progress-container">
    <mat-progress-bar
      mode="determinate"
      [value]="(currentWordIndex / totalWords) * 100"
    ></mat-progress-bar>
    <p class="progress-text">{{ currentWordIndex + 1 }}/{{ totalWords }}</p>
  </div>
</div>

<ng-template #summaryTemplate>
  <div class="container">
    <h2>Game Summary</h2>
    <p>Total Points: {{ points }}</p>
    <p>You were correct in {{ successCount }} out of {{ totalWords }} words</p>

    <table mat-table [dataSource]="summaryData" class="mat-elevation-z8">
      <ng-container matColumnDef="hebrewWord">
        <th mat-header-cell *matHeaderCellDef>Hebrew Word</th>
        <td mat-cell *matCellDef="let element">{{ element.hebrewWord }}</td>
      </ng-container>

      <ng-container matColumnDef="correctEnglishWord">
        <th mat-header-cell *matHeaderCellDef>Correct English Word</th>
        <td mat-cell *matCellDef="let element">
          {{ element.correctEnglishWord }}
        </td>
      </ng-container>

      <ng-container matColumnDef="isCorrect">
        <th mat-header-cell *matHeaderCellDef>Correct?</th>
        <td mat-cell *matCellDef="let element">
          {{ element.isCorrect ? "✔️" : "❌" }}
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="['hebrewWord', 'correctEnglishWord', 'isCorrect']"
      ></tr>
      <tr
        mat-row
        *matRowDef="
          let row;
          columns: ['hebrewWord', 'correctEnglishWord', 'isCorrect']
        "
      ></tr>
    </table>

    <div class="summary-buttons">
      <a
        mat-raised-button
        class="new-game-button"
        [routerLink]="['/game-selection']"
      >
        New Game
      </a>
      <button mat-raised-button class="exit-button-summary" (click)="exit()">
        Exit
      </button>
    </div>
  </div>
</ng-template>
