<h1 mat-dialog-title>Game over</h1>
<h3>Game Summary</h3>
<div mat-dialog-content>
  <p><strong>Points:</strong> {{ data.points }}</p>
  <p><strong>Successful Guesses:</strong> {{ data.successCount }}</p>

  <mat-table [dataSource]="data.summaryData" class="mat-elevation-z8">
    <ng-container matColumnDef="hebrewWord">
      <th mat-header-cell *matHeaderCellDef>Hebrew Word</th>
      <td mat-cell *matCellDef="let element">{{ element.hebrewWord }}</td>
    </ng-container>

    <ng-container matColumnDef="correctEnglishWord">
      <th mat-header-cell *matHeaderCellDef>Correct English Word</th>
      <td mat-cell *matCellDef="let element">
        {{ element.correctEnglishWord }}
      </td>
    </ng-container>

    <ng-container matColumnDef="isCorrect">
      <th mat-header-cell *matHeaderCellDef>Result</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon>{{ element.isCorrect ? "check_circle" : "cancel" }}</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </mat-table>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close [routerLink]="['/Game-selection']">
    Close
  </button>
</div>
