<h1 mat-dialog-title>{{game.Name}}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select (selectionChange)="onCategorySelected($event.value)">
      <mat-option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="selectedCategory">
  <p>Selected Category: {{ selectedCategory.name }}</p>
  <p>Word Count: {{ selectedCategory.words.length }}</p>
  <p>Last Updated: {{ selectedCategory.lastUpdateDate | date:'medium' }}</p>
  <button mat-button [disabled]="!selectedCategory" [routerLink]="[game.GameUrl,selectedCategory.id]">Play</button>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
</div>
