mat-dialog-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%;
  margin-top: 20px;
}

button[mat-button] {
  background-color: #756868;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[mat-button]:hover {
  background-color: #5c5966;
}

button[mat-button]:disabled {
  background-color: #ccc;
}

button.play-button {
  background-color: #e76f51;
}

button.play-button:hover {
  background-color: #d65b41;
}
