.container {
  text-align: center;
  margin-top: 20px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: #3b5998;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #555;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

mat-card {
  background-color: #ffeead;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

mat-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

mat-card-title {
  font-size: 14px;
  font-weight: bold;
  color: #ff6347;
}

mat-card-content {
  font-size: 32px;
  color: #4caf50;
}

mat-card-content[ng-if="gamesToCompleteChallenge > 0"],
mat-card-content[ng-if="gamesToCompleteChallenge === 0"] {
  font-size: 16px;
  color: #333;
}

mat-tab-group {
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 20px;
}

mat-tab-label {
  font-size: 16px;
  color: #000;
}
