body {
  background-color: #f3f4ed;
}

.container {
  text-align: center;
  margin-top: 20px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: #6d6875;
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: center;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  color: #355c7d;
  margin-top: 20px;
  text-align: center;
  position: relative;
}

h2::after {
  content: "";
  display: block;
  width: 60%;
  height: 1px;
  background-color: #4a90a4;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

p {
  font-size: 20px;
  color: #685586;
  text-align: center;
}

.summary-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
  justify-items: center;
}

.monthly-challenge-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
  justify-items: center;
}

mat-card {
  width: 600px;
  height: 200px;
  background-color: #dceef2;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

mat-card-title {
  font-size: 20 px;

  color: #4a6572;
}

mat-card-content {
  font-size: 40px;
  font-weight: bold;
  color: #e76f51;
}

mat-card-content[ng-if="gamesToCompleteChallenge > 0"],
mat-card-content[ng-if="gamesToCompleteChallenge === 0"] {
  font-size: 16px;
  color: #6d6875;
}

mat-tab-group {
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 20px;
}

mat-tab-label {
  font-size: 16px;
  color: #6d6875;
}
